.coupon-item {
  background-image: url("/images/coupon/user-coupon.svg");
  background-size: contain; // 或者使用 cover
  height: 176px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.coupon-left {
  position: absolute;
  left: 15%;
  top: 22%;
  width: 50%;
}

.coupon-title {
  margin: 0 0 10px 0;
}

.coupon-info {
  line-height: 20px;
  height: 3rem;
}

.exp-date {
  color: #5A5650;
}

.coupon-right {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10%;
  top: 28%;
  align-items: center;
  justify-content: center;
}

.collect-btn {
  border: 1px solid #716657;
  color: #716657;
  border-radius: 5px;
  padding: 2px 36px;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    background-color: #716657;
    color: #fff;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/coupon/coupon_dark.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(0.5px);
  z-index: 1;
}

.stamp {
  position: absolute;
  top: 23%;
  left: 50%;
  width: 100px;
  height: 100px;
  z-index: 2;
  pointer-events: none;
  animation: stampAnimation 0.5s ease-in-out;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media (min-width: 1440px) {
  .coupon {
    margin-bottom: 20px;
  }

  .coupon-left {
    top: 22%;
  }
  .coupon-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .coupon-right {
    top: 25%;
    left:75%;
  }
  .discount{
    font-size: 24px;
    margin-bottom: 5px;
  }
  .code-code{
    font-size: 18px;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .coupon {
    margin-bottom: -30px;
  }


  .coupon-left {
    top: 32%;
    left: 12%;
  }
  .coupon-title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .coupon-info {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: -30px;
    white-space: nowrap; /* 防止文字換行 */
    overflow: hidden; /* 隱藏超出部分 */
    text-overflow: ellipsis; /* 超出部分顯示省略號 */
  }
  
  .exp-date {
    font-size: 12px;
  }
  .coupon-right {
    top: 30%;
    right:8%;
  }
  .discount{
    font-size: 16px;
  }
  .coupon-label{
    font-size: 12px;
  }
  .code-code{
    font-size: 12px;
  }
  .stamp {
    width: 80px;
  }
}

@media (max-width: 768px) {
  .coupon {
    margin-bottom: -20px;
  }

  .coupon-left {
    top: 22%;
  }
  .coupon-title {
    white-space: nowrap; /* 防止文字換行 */
    margin-bottom: 5px;
  }
  
  .coupon-info {
    font-size: 14px;
    line-height: 20px;
    height: 3rem;
  }
  
  .exp-date {
    font-size: 12px;
  }
  .coupon-right {
    top: 28%;
    right:9%;
  }
}
@media (max-width: 466px) {
  .coupon {
    margin: -40px 0 -40px 0;
  }

  .coupon-left {
    top: 30%;
    left: 12%;
  }
  .coupon-title {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .coupon-info {
    font-size: 10px;
    line-height: 13px;
    height: 3rem;
    margin-bottom: -23px;
  }
  
  .exp-date {
    font-size: 10px;
  }
  .coupon-right {
    top: 34%;
    right:8%;
  }
  .discount{
    font-size: 14px;
    margin-bottom: 3px;
  }
  .coupon-label{
    font-size: 10px;
    line-height: 16px;
  }
  .code-code{
    font-size: 10px;
    line-height: 16px;
  }
  .stamp {
    width: 70px;
  }
}

// 蓋章動畫
@keyframes stampAnimation {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 0;
  }

  50% {
    transform: scale(1.2) rotate(15deg);
    opacity: 1;
  }

  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}