// components/blog/common/cards/cards.module.scss

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 375px) {
  .cards {
    display: grid; /* 保持 grid 佈局 */
    grid-template-columns: 1fr; /* 每個卡片佔滿整個寬度 */
    // gap: 1rem; /* 增加間距 */
    max-width: 100%;
  }
}
