.sticky-sidebar {
    position: sticky;
    top: 80px;
}
.card{
    // border: 0.5px solid #716657;
    border-radius: 5px;
    padding: 30px;
    color: #716657;
    background-color: #fefbf6ab;
    box-shadow: 0 8px 4px rgba(113, 102, 87, 0.1); /* 添加陰影 */
}
.course-title{
    justify-content: space-between;
    margin-bottom: 30px;
    .course-name{
        font-size: 28px;
        font-weight: bold;
        color: #5a5650;
    }
    .like-icon{
        font-size: 28px;
        color: #716657;
    }
}
.icon {
    font-size: 24px;
    color: #716657;
    margin-top: -5px;
    // align-items: center;
    // align-self: center;
}
.title{
    min-width: 80px;
}
.detail{
    margin: 0;
    width: 100%;
}
.tag {
    font-size: 0.8rem;
    color: #fefbf6;
    background-color: #a68e6f;
    padding: 4px 8px;
    border-radius: 12px;
    margin-right: 8px;
}
.price-original {
    text-decoration: line-through;
    color: #888;
}
.sign-btn{
    margin-top: 0.75rem;
    background-color: #716657;
    border: none;
    color: #fefbf6;
    padding: 0.75rem;
    border-radius: 5px;
    &:hover {
        background-color: #5A5246;
        color:#fefbf6 ;
    }
}

@media (max-width: 375px) {
    .course-title{
        .course-name{
            font-size: 24px;
        }
        .like-icon{
            font-size: 24px;
        }
    }
    .icon {
        font-size: 18px;
    }
    .title{
        min-width: 65px;
        font-size: 16px;
    }
    .detail{
        font-size: 14px;
    }
    .tag {
        font-size: 14px;
        padding: 2px 4px;
        margin-right: 4px;
    }
    .price-original {
        font-size: 14px;
    }
    .sign-btn{
        padding: 0.5rem;
    }
    .discount-price{
        font-size: 24px;
    }
}