.sort-button {
  color: #716657;
  min-width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #716657;
  &:hover {
    border-color: #5a5246;
    color: #5a5246;
  }
  &:focus {
    color: #716657;
    border-color: #716657;
    border-bottom: transparent;
    border-radius: 5px 5px 0 0;
  }
}

.dropdown-menu {
  min-width: 120px;
  background-color: #e2ddd6;
  border-color: #716657;
  border-top: transparent;
  border-radius: 0 0 5px 5px;
}

.dropdown-item {
  color: #716657;
  &:hover {
    background-color: #716657;
    color: #f8f9fa;
  }
  &:focus {
    background-color: #5a5246;
    color: #f8f9fa;
  }
}
@media (max-width: 767px) {
  .sort-button {
    min-width: 140px;
  }
  .dropdown-menu {
    min-width: 140px;
  }
}

@media (max-width: 574px) {
  .sort-button {
    font-size: 14px;
  }
  .dropdown-menu {
    font-size: 14px;
  }
}
