.cardFavoriteIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #716657;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 5px;
}
.heart {
  color: #716657;
  font-size: 24px;
}
.fillHeart {
  color: #716657;
  font-size: 24px;
}
