.tabButtons button {
  background-color: transparent;
  border: 0;
  color: #5a5650 !important; /* 字體顏色 */
  font-size: 1.1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
@media screen and (max-width: 375px) {
  .tabButtons button {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.tabButtons button:hover {
  // border-radius: 5px;
  font-weight: bold;
  color: #5a5650; /* 字體顏色 */
}

.tabButtons button.active {
  // background-color: #E2DDD6; /* 滑鼠移過的背景顏色 */
  // border-radius: 5px;
  font-weight: bold; /* 強調選中狀態 */
  border-bottom: 1px solid #5a5650;
}

.tabContent {
  // background-color: #f9f9f9;
  border-radius: 0.3rem;
  width: 100%;
  height: 575px;
}

.scroll {
  max-height: 500px; /* 設定最大高度，讓內容超出此高度時可以滾動 */
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin; /* 適用於 Firefox */
  scrollbar-color: #ccc transparent;

  /* 適用於 WebKit 瀏覽器 */
  -webkit-overflow-scrolling: touch;
}

.scroll::-webkit-scrollbar {
  width: 8px; /* 滾動條寬度 */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #ccc; /* 滾動條顏色 */
  border-radius: 4px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* 滾動條懸停顏色 */
}

.scroll::-webkit-scrollbar-track {
  background: transparent; /* 滾動條背景 */
}

.orderContextScroll {
  max-height: 500px; /* 設定最大高度，讓內容超出此高度時可以滾動 */
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin; /* 適用於 Firefox */
  scrollbar-color: #ccc transparent;
}
@media screen and (max-width: 375px) {
  .orderContextScroll {
    max-height: 350px; /* 設定最大高度，讓內容超出此高度時可以滾動 */
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin; /* 適用於 Firefox */
    scrollbar-color: #ccc transparent;
  }
}
// 優惠券專用tab樣式
.tabBtns button {
  background: transparent;
  border: 0;
  color: #5a5650 !important; /* 字體顏色 */
  font-size: 1.1rem;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 5px;
}
@media screen and (max-width: 450px) {
  .tabBtns button {
    padding: 7px 10px 8px 7px;
    font-size: 16px;
  }
}

.tabBtns button:hover {
  color: #5a5650; /* 字體顏色 */
  font-weight: bold;
}

.tabBtns button.active {
  border-bottom: 1px solid #5a5650;
  font-weight: bold; /* 強調選中狀態 */
}
