.tabButtons {
  display: flex;
  margin-bottom: 1rem;
}

.tabButtons button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  color: #716657;
  background-color: transparent;
}

.tabButtons button.active {
  font-weight: 700;
  border-bottom: 2px solid #716657;
}
