// components/blog/common/user-blog-section/user-blog-section.module.scss

.userBlog {
  display: grid;
  gap: 1rem;
}

.header {
  justify-content: space-between;
  cursor: pointer;
  letter-spacing: 0.05rem;
  background-color: #716657;
  color: #fefbf6;
  display: flex;
  height: 2.5rem;
  padding: 1rem;
  align-items: center;
  border-radius: 0.3125rem;
  h3 {
    margin-bottom: 0;
  }
  &:hover {
    background-color: #5a5246;
  }
}

.filterTitle {
  font-family: 'Noto Serif TC';
  font-size: 1rem;
  font-weight: 400;
}

.arrowIcon {
  font-size: 16px;
  transition: transform 0.3s ease;
}
.buttonContainer {
  display: grid;
  gap: 0.5rem;
}

@media (min-width: 993px) {
  .header {
    cursor: default !important; /* 桌面端不需要收合 */
    justify-content: center !important;
    &:hover {
      background-color: #716657 !important;
    }
  }

  .arrowIcon {
    display: none; /* 隱藏箭頭 */
  }

  .buttonContainer {
    display: grid;
    gap: 1rem;
  }
}
