.paperBg {
  background-image: url('/homepage/paper-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.sectionPadding {
  position: relative;
  padding-top: 161px;
  padding-bottom: 161px;
}

.blogMargin {
  padding-top: 149px;
}

.fontDarkBrown {
  color: #4e3e34;
}

.stickyTop {
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 5;
}

.content {
  border-bottom: 0.5px solid #4e3e3496;
  display: flex;
  align-items: center;
  padding-bottom: 39px;
  background-color: transparent;
}

.contentImage {
  flex: 0 0 260px;
  margin-right: 20px;
  background-color: transparent;
  width: 260px; /* 必要時明確設置寬度 */
  height: 156px; /* 必要時明確設置高度 */
  overflow: hidden; /* 確保裁剪效果 */
}

.contentLink {
  z-index: 10;
  text-decoration: none;
}

.contentLink:hover {
  color: #a68e6f !important;
}
//btn
.aboutBtn {
  z-index: 40 !important;
  color: #716657;
  border: 1px solid #716657;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s;
  font-size: 20px;
  font-weight: bold;
  margin-left: auto; /* 讓按鈕靠右 */
}
.aboutBtn:hover {
  background-color: #5a5650;
  color: #fff;
}
.bgShadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url('/homepage/shadow.png');
  background-size: cover;
  background-position: center;
}
.leftBlog {
  @media (max-width: 540px) {
    position: static;
  }
}
.imageContainer {
  position: relative;
  width: 100%;
  height: 350px;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

//手機板

/* 當螢幕寬度小於 720px 時，設置樣式 */
/* 小於 540px：手機垂直模式 */
@media (max-width: 540px) {
  .aboutBg {
    padding-bottom: 80px;
    padding-top: 0;
  }
  .phoneFont {
    font-size: 14px;
  }
  .aboutLogo {
    width: 70%;
    height: auto;
    margin: auto;
  }
  .subTitle {
    display: none;
  }
  .subTitlePhone {
    text-align: center;
  }
  .carouselControlPrev {
    position: absolute;
    top: 385px !important;
    right: 50%;
  }
  .carouselControlNext {
    position: absolute;
    top: 385px !important;
    left: 50%;
  }
  .sectionPadding {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .leftBlog {
    z-index: 1;
  }
  .blogMargin {
    padding-top: 95px;
  }
  .content {
    flex-direction: column; /* 垂直排列 */
    align-items: flex-start; /* 文字左對齊 */
    padding-bottom: 10px;
  }

  .contentImage {
    flex: 0 0 160px;
    height: 100px; /* 高度自適應 */
    width: 260px;
    margin-right: 0px;
  }
  .imageContainer {
    position: relative;
    width: 260px;
    height: 156px;
    margin: auto;
  }
  .leftContainer {
    margin-left: 50px;
    padding-bottom: 10px;
    margin-right: 35px;
    border-bottom: 1px solid #716657;
    margin-bottom: 3rem !important;
  }
  .aboutBtn {
    margin: auto;
  }
}

/* 541px - 767px：手機橫向模式 */
@media (min-width: 541px) and (max-width: 767px) {
  .aboutBg {
    padding-bottom: 161px;
  }
  .phoneFont {
    font-size: 14px;
  }
  .aboutLogo {
    width: 80%;
    height: auto;
    margin-right: 0;
    margin: auto;
  }
  .subTitle {
    display: none;
  }
  .subTitlePhone {
    text-align: center;
  }
}

/* 768px - 959px：平板 */
@media (min-width: 768px) and (max-width: 959px) {
  .aboutLogo {
    width: 500px;
    height: auto;
  }
  .subTitlePhone {
    display: none;
  }
}

/* 960px - 1139px：小型桌面 */
@media (min-width: 960px) and (max-width: 1139px) {
  .aboutLogo {
    width: 500px;
    height: auto;
  }
  .subTitlePhone {
    display: none;
  }
}

/* 1140px - 1439px：桌面 */
@media (min-width: 1140px) and (max-width: 2000px) {
  .aboutLogo {
    width: 500px;
    height: auto;
  }
  .subTitlePhone {
    display: none;
  }
}
.responsiveTitle {
  @media (max-width: 1400px) {
    font-size: 1.5rem; // 與 h4 相同的大小
    font-weight: bold;
  }
}
