.title {
  color: #5a5650;
  h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 50%;
}
.search input {
  width: 100%;
  height: 40px;
  border: 1px solid #a68e6f;
  border-radius: 5px;
  padding: 0 10px;
  color: #716657;
  position: relative;
  &::placeholder {
    color: #716657;
  }
}
.search button {
  color: #fefbf6;
  height: 40px;
  min-width: 60px;
  border-radius: 5px;
  background-color: #716657;
  margin-left: 10px;
  width: 100px;
  &:hover {
    background-color: #5a5246;
    color: #fefbf6;
  }
}

@media (max-width: 991px) {
  .search input {
    min-width: 380px;
  }
}
@media (max-width: 767px) {
  .title p {
    font-size: 16px;
  }
  .title h3 {
    font-size: 26px;
  }
}

@media (max-width: 470px) {
  .search input {
    min-width: 300px;
  }
  .title p {
    font-size: 16px;
  }
  .title h3 {
    font-size: 24px;
  }
}

@media (max-width: 430px) {
  .search input {
    min-width: 250px;
  }
}
