.sticky {
  display: none;
}

// card
.course-card {
  border-radius: 8px;
  overflow: hidden;
  background: rgb(255, 255, 255, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 20rem;
  padding: 0;
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .card-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  .card-body {
    padding: 15px;
  }
}

.text {
  width: 100%;
  height: 80px;
  overflow: hidden; /* 隱藏超出部分 */
  text-overflow: ellipsis; /* 超出部分顯示省略號 */
}
.card-text {
  display: flex;
  align-items: center;
}

.instructor-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.instructor-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.instructor-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.see-button {
  width: 100%;
  background-color: #716657;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  height: 44px;
  text-align: center;
  align-content: center;
  font-weight: 500;
}

.see-button:hover {
  background-color: #5a5246;
  color: white;
}

.favorite-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #716657;
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
}

.course-container {
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #71665760;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  width: 40px;
  border-radius: 50px;
}

.arrow-left {
  left: 0; // 貼在左側
}

.arrow-right {
  right: 0; // 貼在右側
}

.course-grid {
  max-width: 100%;
  overflow-x: auto;
  position: relative;
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: normal;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.course-grid::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media (max-width: 440px) {
  .sticky {
    margin-left: -12px !important;
    width: 400px !important;
  }
  .card-img {
    height: 160px;
    width: 200px;
  }
  .text {
    width: 100%;
    height: 80px;
  }
  .card-text {
    display: flex;
    align-items: center;
  }

  .instructor-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .instructor-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .instructor-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media (max-width: 991px) {
  .sticky {
    display: block;
    position: sticky;
    bottom: 0;
    background: #f7f3ee;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    z-index: 1000; // 確保元素在最上層
  }
  .course-title {
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .relative-content {
    margin-bottom: 5px;
    justify-content: end;
    align-items: end;
  }
  .title {
    color: #716657;
    font-weight: 700;
    font-size: 24px;
  }
  .price {
    text-decoration: line-through;
    color: #888;
    font-size: 16px;
  }
  .discount {
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
  }
  .add-course {
    display: none;
  }
  .sign-btn {
    margin-top: 0.75rem;
    background-color: #716657;
    border: none;
    color: #fefbf6;
    padding: 0.75rem;
    border-radius: 5px;
    &:hover {
      background-color: #5a5246;
      color: #fefbf6;
    }
  }
}

@media (max-width: 768px) {
  .top-title {
    h2 {
      font-size: 28px;
    }
    .heart {
      font-size: 24px;
    }
  }
}
