.area {
  margin: 20px 20px;
}
.code {
  width: 40%;
  height: 40px;
  border: 1px solid #716657;
  border-radius: 5px;
  padding: 0 10px;
  color: #716657;
  background-color: transparent;
  &::placeholder {
    color: #716657;
  }
}
.btn {
  color: #fefbf6;
  height: 40px;
  max-width: 80px;
  border-radius: 5px;
  background-color: #716657;
  margin-left: 10px;
  width: 100px;
  border: none;
  &:hover {
    background-color: #5a5246;
    color: #fefbf6;
  }
}

@media (max-width: 767px) {
  .area {
    margin: 20px 0;
  }
  .code {
    width: 90%;
  }
  .btn {
    max-width: 70px;
    margin-left: 0;
    font-size: 14px;
    margin-left: 5px;
  }
}
